.row { 
    max-width: $grid-width;
    // background-color: $grid-color;
    margin: 0 auto;
 
    &:not(:last-child){
        margin-bottom: $grid-vertical;
    }

    @include clearfix;

    [class^="col-"]{
        // background-color: greenyellow;
        float:left;
    }

    .col-1-of-2{
        width: calc((100% - #{$grid-horizontel}) / 2);
        // background-color: yellow;
        float: left;

        &:not(:last-child){
            margin-right: $grid-horizontel;
        }
    }

    .col-1-of-3 {
        width: calc((100 - 2 * #{$grid-horizontel}) / 3);
    }
}