//COLOR
$color-primary:#fff;
$color-light-gary:#777;
$dark-color:#000;
$color-gray-2:#999;
$color-gray-3:#333;

$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;

$light-blue:#2998ff;
$dark-blue:#5643da;

$light-orange:#ffb900;
$dark-orange:#ff7730;

$light-color:#eee;


 
$backgorund-color-light-gray:#f7f7f7;


//GRID

$grid-width:114rem;
$grid-color:#eee;
$grid-vertical:8rem;
$grid-horizontel:6rem;

//FONT-SIZE

$default-font-size:1.6rem;

// BORDER RADIUS

$border-radious:3px;