//COLOR
$color-primary:#fff;
$color-light-gary:#777;
$dark-color:#000;

$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;

$backgorund-color-light-gray:#f7f7f7;


//GRID

$grid-width:114rem;
$grid-color:#eee;
$grid-vertical:8rem;
$grid-horizontel:6rem;