.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height:50rem;

    &__side{
        background-color: aqua;
        font-family: 2rem;
        // color:$light-gary;
        height: 48rem;
        transition: all 0.8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($dark-color,0.15);

       &--front{
            background-color:$color-primary;
        }
    
        &--back{
            background-color: yellowgreen;
            transform: rotateY(-180deg);

            &-1 {
                background:linear-gradient(to right bottom,$light-orange,$dark-orange);
            }
        }
    }

    &:hover &__side--front{
        transform: rotateY(180deg);  
    }

    &:hover &__side--back{
        transform: rotateY(0);
    }

    //FRONT SIDE STYLING

    &__picture{
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
        position: relative;
        
        &--1{
            background-image:linear-gradient(to right bottom,$light-orange,$dark-orange), url(../img/nat-5.jpg);
        }

        &--2{
            background-image: url(../img/nat-6.jpg);
        }

        &--3{
            background-image: url(../img/nat-7.jpg);
        }
    }

    &__heading{
        font-size: 2.8rem;
        text-transform: uppercase;
        color:$color-primary;
        position: absolute;
        font-weight: 300;
        text-align: right;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span{
        padding: 1rem 1.5rem;
        box-decoration-break: clone; 
        &--1{
            background-image: linear-gradient(to right bottom,rgba($light-orange,.85),rgba($dark-orange,.85)); 
        }
        
    }
    
    &__details{
        padding: 3rem;
        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li{
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child){
                    border-bottom: 1px solid $light-color;
                }
            }    
        }
    }

}