.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;

    &__side{
        background-color: red;
        font-family: 2rem;
        color: white;
        height: 50rem;
        transition: all 5s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($dark-color,0.15);

       &--front{
            background-color: orangered;
        }
    
        &--back{
            background-color: yellowgreen;
            transform: rotateY(-180deg);

            &-1 {
                background:linear-gradient(to right bottom,$light-orange,$dark-orange);
            }
        }
    }

    &:hover &__side--front{
        transform: rotateY(180deg);  
    }
    &:hover &__side--back{
        transform: rotateY(0);
    }

}