.popup{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($dark-color,0.8);
    z-index: 999;
    // display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &:target{
        opacity: 1;
        visibility: visible;
    }

    
    &__close{
        &:link,
        &:visited{
            color: $color-gray-2;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            &:hover{
                color: $color-primary-light;
            }
        }
    }
    
    &__content{
        @include abscenter;
        width: 75%;
        box-shadow: 0 2rem 4rem rgba($dark-color,.2);
        background-color: $color-primary;
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform:translate(-50%, -50%) scale(.5);
        transition: all 0.5s 0.2s;
    }

    &:target &__content{
        opacity: 1;
        transform:translate(-50%, -50%) scale(1);
    }
    
    &__left{
        width: 33.3333333%; 
        display: table-cell;
    }

    &__right{
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

    }

    &__img{
        display: block;
        width: 100%;

    }

    &__text{
        font-size: 1.4rem;
        margin-bottom: 1.4rem;
    }
}