body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    // font-size: 16px;
    line-height: 1.7;
    color: $color-light-gary;
    padding: 30px;
}



& .heading-primary{
    text-transform: uppercase;
    color:$color-primary;
    backface-visibility: hidden;
    margin-bottom: 6rem;

& .heading-primary-main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInleft;
    animation-duration: 1s;
    animation-timing-function:ease-out;
    }

& .heading-primary-sub{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing:  17.3px;
    animation: moveInright;
    animation-duration: 1s;
    }      
}