.section-about{
    background-color: $backgorund-color-light-gray;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features{
    padding:20rem 0;
    background-image:linear-gradient(to right bottom, 
    rgb(126, 213, 111,0.8),
    rgb(40, 180, 133,0.8)),
    url(../img/hero.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > *{
        transform: skewY(6deg);
    }
}

.section-tours{
    background-color: $backgorund-color-light-gray;
    padding: 15rem 0;
    margin-top: -10rem;
}

.stories{
    background-color: $backgorund-color-light-gray;
    position:relative; 
}

.section-booking{
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light,$color-primary-dark);}

.book{
    background: linear-gradient(105deg,
                                        rgba($color-primary, .9) 0%,
                                        rgba($color-primary, .9) 50%, 
                                        transparent 50%),
                                        url(../img/nat-10.jpg);
    background-size: cover;
    height: 50rem;
    box-shadow: 0 1.5rem 4rem rgba($dark-color,0.15);
    border-radius: $border-radious;
}